{% extends "manager/base.html" %}
{% load material_form %}

{% block content %}
<div class="section">
    <p class="flow-text center">Hello, {{user.username}}.</p>
</div>
<div class="section center">
    <a href="{% url 'users:edit_user' %}" class="waves-effect waves-teal btn-flat">My information</a>
    {% if user.password %}
    <a href="{% url 'users:password_change' %}" class="waves-effect waves-teal btn-flat">Change my password</a>
    {% endif %}
</div>
<div class="section center">
  <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'manager:new_secret' %}" ><i class="material-icons">add</i></a>
</div>
{% endblock content %}
