{% extends "manager/base.html" %}
{% load icons %}

{% block content %}
<div class="page--narrow">
  <div class="card">
    <form method="post" action="{% url 'users:password_change' %}">
      <div class="card__header">
        <h2 class="card__title">Password change</h2>
      </div>
      <div class="card__body">
        {% csrf_token %}
        {% include "manager/includes/form.html" %}
      </div>
      <div class="card__footer">
        <button name="_submit" class="btn btn-primary">{% icon 'lock' %} Change my password</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
