{% extends "manager/base.html"  %}
{% load material_form %}

{% block content  %}
<div class="row valign change-form">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
      <form method="post" action="{% url 'users:edit_user' %}">
        <div class="card-content">
          <span class="card-title grey-text text-darken-2">User Information</span>
          <div class="section">
          {% csrf_token  %}
          {% form form=form %}{% endform %}
          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
              <button type="submit" name="_submit" class="btn btn-primary waves-effect"><i class="material-icons left" >save</i> update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content  %}
