{% extends "manager/base.html" %}
{% load icons %}

{% block content %}
<div class="page--narrow">
  <div class="card">
    <form method="post" action="{% url 'users:login' %}">
      <div class="card__header">
        <h2 class="card__title">Sign in</h2>
      </div>
      <div class="card__body">
        {% csrf_token %}
        {% include "manager/includes/form.html" %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="mb-0" style="margin-top: var(--space-3); text-align: right;">
          <a href="{% url 'users:password_reset' %}">Forgot your password?</a>
        </div>
      </div>
      <div class="card__footer">
        <button name="_submit" class="btn btn-primary">{% icon 'log-in' %} Log in</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
