{% extends "manager/base.html" %}
{% load icons %}

{% block content %}
<div class="page--narrow">
  <div class="card">
    <form method="post" action="{% url 'users:register' %}">
      <div class="card__header">
        <h2 class="card__title">Registration form</h2>
      </div>
      <div class="card__body">
        {% csrf_token %}
        {% include "manager/includes/form.html" %}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="card__footer">
        <button name="_submit" class="btn btn-primary">{% icon 'user-plus' %} Register</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
