{% extends "manager/base.html"  %}
{% load material_form %}

{% block content  %}
<div class="row valign change-form">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
      <form method="post" action="{% url 'users:password_reset' %}" class="viewform">
        <div class="card-content">
          <span class="card-title grey-text text-darken-2">Password reset sent</span>
          <p class="section">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p class="section">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
        <div class="card-action">
          <div class="right-align">
            <a href="{% url 'users:login' %}" class="btn btn-primary">log in</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}