{% extends "manager/base.html" %}
{% load icons %}

{% block content %}
<div class="page--narrow">
  <div class="card">
    <form action="{% url 'manager:delete_secret' secret.id %}" method="post">
      {% csrf_token %}
      <div class="card__body">
        <div class="alert alert-danger mb-0">
          {% icon 'alert-triangle' 'icon icon-sm' %}
          <div>Do you want to delete the secret "{{ secret }}"? This cannot be undone.</div>
        </div>
      </div>
      <div class="card__footer">
        <a href="{% url 'manager:secret' secret.id %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" name="_submit" class="btn btn-danger">{% icon 'trash' %} Delete</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
