{% extends "manager/base.html" %}
{% load material_form %}

{% block content %}
<div class="row valign">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
      <form action="{% url 'manager:delete_secret' secret.id  %}" method='post' >
        {% csrf_token %}
        <div class="card-content">
          <div class="card-title grey-text text-darken-2">Do you want to delete the secret "{{ secret }}"?</div>
        </div>
        <div class="card-action">
          <div class="right-align">
            <a href="{% url 'manager:secret' secret.id  %}" class="btn btn-primary waves-effect" >Cancel</a>
            <button type="submit" name="_submit" class="waves-effect waves-red btn-flat grey-text text-darken-3">delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
