{% extends "manager/base.html" %}
{% load icons %}

{% block content %}
<div class="page--narrow">
  <div class="card">
    <form action="{% url 'manager:edit_secret' secret.id %}" method="post">
      <div class="card__header">
        <h2 class="card__title">Edit secret</h2>
      </div>
      <div class="card__body">
        {% csrf_token %}
        {% include "manager/includes/form.html" %}
      </div>
      <div class="card__footer">
        <a href="{% url 'manager:secret' secret.id %}" class="btn btn-ghost">Cancel</a>
        <button type="button" class="btn btn-icon" data-toggle-password="id_password" aria-label="Show password" title="Show password">
          <span data-icon-show>{% icon 'eye' %}</span>
          <span data-icon-hide style="display:none;">{% icon 'eye-off' %}</span>
        </button>
        <button type="submit" name="_submit" class="btn btn-primary">{% icon 'save' %} Update</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
