{% extends "manager/base.html" %}
{% load material_form %}

{% block content %}
<div class="row valign change-form">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
        <form action="{% url 'manager:new_secret' %}" method='post' class="viewform">
        <div class="card-content">
          <span class="card-title grey-text text-darken-2">Add secret</span>
          <div class="section">
          {% csrf_token  %}
          {% form form=form %}{% endform %}
          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
            <button type="button" onclick="reveal()" class="btn-floating" title="Reveal the password"><i class="material-icons">remove_red_eye</i></button>
            <button type="submit" name="_submit" class="btn btn-primary waves-effect"><i class="material-icons left" >save</i> create</button>
            <a href="{% url 'manager:secrets' %}" class="waves-effect btn-flat grey-text text-darken-3">cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block content-script %}
<script type="text/javascript">
function reveal() {
  if(document.getElementById("id_password").type == 'password') {
    document.getElementById("id_password").type = 'text';
  }
  else {
    document.getElementById("id_password").type = 'password';
  }
}
</script>
{% endblock %}

