{% extends "manager/base.html" %}
{% load material_form %}

{% block content %}
<div class="row valign change-form">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
        <form action="{% url 'manager:new_secret' %}" method='post' class="viewform">
        <div class="card-content">
          <span class="card-title grey-text text-darken-2">Add secret</span>
          <div class="section">
          {% csrf_token  %}
          {% form form=form %}{% endform %}
          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
            <a href="{% url 'manager:secrets' %}" class="waves-effect btn-flat grey-text text-darken-3">cancel</a>
            <button type="submit" name="_submit" class="btn btn-primary waves-effect">create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

