{% extends "manager/base.html" %}

{% block content %}
<style>
  #password-holder {
    position: absolute;
    height: 0px;
    width: 0px;
    display: inline-block;
    overflow: hidden;
  }
</style>
<div class="row valign">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-2">Secret Information</span>
        <div class="section">
          <!-- <div class="row">
            <div class="col s4">Creator</div>
            <div class="col s8">{{ secret.creator }}</div>
          </div>
          <div class="row">
            <div class="col s4">Changed</div>
            <div class="col s8">{{ secret.date_changed|date:'M d, Y H:i' }}</div>
          </div>
          <div class="row">
            <div class="col s4">Created</div>
            <div class="col s8">{{ secret.date_added|date:'M d, Y H:i' }}</div>
          </div> -->
          <div class="row">
            <div class="col s4">Label</div>
            <div class="col s8">{{ secret.label }}</div>
          </div>
          <!-- <div class="row">
            <div class="col s4">Category</div>
            <div class="col s8">{{ secret.get_category_display }}</div>
          </div> -->
          <div class="row">
            <div class="col s4">Username</div>
            <div class="col s8">{{ secret.username }}</div>
          </div>
          <div class="row">
            <div class="col s4">Password</div>
            <div class="col s8">
              {% if secret.password %}
              <span id="password-holder" value="{{ secret.password }}" >{{ secret.password }}</span>
              <span id="password">{% for s in secret.password|make_list  %}<span>*</span>{% endfor %}</span>&nbsp;&nbsp;
              <a class="btn btn-floating waves-effect" onclick="showThePassword()" title="Show the password" href="#!" ><i class="material-icons">remove_red_eye</i></a>
              <a class="btn btn-floating waves-effect" data-clipboard-target="#password-holder" title="Copy to clipboard" href="#!" ><i class="material-icons">content_paste</i></a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col s4">Website</div>
            <div class="col s8"><span class="truncate">{{ secret.url|urlize }}</span></div>
          </div>
          <!-- <div class="row">
            <div class="col s4">Project</div>
            <div class="col s8">{{ secret.project }}</div>
          </div> -->
          <!-- <div class="row">
            <div class="col s4">Config</div>
            <div class="col s8">{{ secret.config|linebreaks }}</div>
          </div> -->
          <div class="row">
            <div class="col s4">Notes</div>
            <div class="col s8">{{ secret.notes|linebreaks }}</div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <div class="right-align">
          <a href="{% url 'manager:edit_secret' secret.id  %}" class="btn btn-primary waves-effect " title="Edit the secret" ><i class="material-icons left">edit</i> edit</a>
          <a href="{% url 'manager:delete_secret' secret.id  %}" class="waves-effect waves-red btn-flat grey-text text-darken-3">delete secret</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block content-script %}
<script>
$(function(){
  new ClipboardJS('.btn');
});

function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

function showThePassword(){
  $('#password').text($('#password-holder').text());
}
</script>
{% endblock %}