{% extends "manager/base.html" %}{% load static %}

{% block nav-title %}
<a href="{% url 'manager:index' %}" class="brand-logo hide-on-med-and-down"><img src="{% static 'images/logo.png' %}" alt="SangAh Logo"></a>
{% endblock %}
{% block nav-extra-content %}
<form action="{% url 'manager:secrets' %}" method="GET">
  <div class="input-field" style="max-width: 400pt;">
    <input name="search" id="search" type="search" value="{{ form.search  }}" >
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>
{% endblock %}

{% block content %}
<h5>Secrets</h5>

<div class="section">
  <div class="right-align">
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'manager:new_secret' %}" ><i class="material-icons">add</i></a>
  </div>
</div>
<div class="section">
  <table class="highlight">
    <thead>
      <tr>
          <th>Label</th>
          <th>Category</th>
          <th>Domain</th>
          <th>IP</th>
          <th>Project</th>
          <th>Username</th>
          <!-- <th>Notes</th> -->
      </tr>
    </thead>
    <tbody>
      {% for secret in secrets %}
      <tr>
        <td><a href="{% url 'manager:secret' secret.id  %}" >{{ secret|truncatechars_html:30 }}</a></td>
        <td>{{ secret.get_category_display }}</td>
        <td>{{ secret.url|urlize|truncatechars_html:30 }}</td>
        <td>{{ secret.ip|truncatechars_html:20 }}</td>
        <td>{{ secret.project }}</td>
        <td>{{ secret.username|truncatechars_html:30 }}</td>
        <!-- <td>{{ secret.notes|truncatechars:50 }}</td> -->
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No secrets have been added yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="section">
  <div class="right-align">
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'manager:new_secret' %}" ><i class="material-icons">add</i></a>
  </div>
</div>
{% endblock content %}
