{% extends "manager/base.html" %}

{% block nav-title %}
<a href="{% url 'manager:index' %}" class="brand-logo hide-on-med-and-down">The Vault</a>
{% endblock %}
{% block nav-extra-content %}
<ul class="right">
  <li>
    <form action="{% url 'manager:secrets' %}" method="GET">
      <div class="input-field">
        <input name="search" id="search" type="search" value="{{ form.search  }}" >
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </li>
</ul>
{% endblock %}

{% block content %}
<h5>Secrets</h5>

<div class="section">
  <table class="responsive-table">
    <thead>
      <tr>
          <th>Label</th>
          <!-- <th>Category</th> -->
          <th>Username</th>
          <th>Website</th>
          <!-- <th>Project</th> -->
          <!-- <th>Notes</th> -->
      </tr>
    </thead>
    <tbody>
      {% for secret in secrets %}
      <tr>
        <td><a href="{% url 'manager:secret' secret.id  %}" >{{ secret }}</a></td>
        <!-- <td>{{ secret.category }}</td> -->
        <td>{{ secret.username }}</td>
        <td>{{ secret.url|urlize }}</td>
        <!-- <td>{{ secret.project }}</td> -->
        <!-- <td>{{ secret.notes|truncatechars:50 }}</td> -->
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No secrets have been added yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="section">
  <div class="right-align">
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'manager:new_secret' %}" ><i class="material-icons">add</i></a>
  </div>
</div>
{% endblock content %}
