{% extends "manager/base.html"  %}{% load static %}
{% load material_form %}

{% block content  %}
<style>
.extra-auth-buttons .btn { margin: 5px; }
</style>
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet" type="text/css" />
<div class="row valign change-form">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
      <form method="post" action="{% url 'users:login' %}" class="viewform">
        <div class="card-content">
          <span class="card-title grey-text text-darken-2">Login form</span>
          <div class="section">
          {% csrf_token  %}
          {% form form=form %}{% endform %}
          </div>
          {% if form.errors %}
          <div class="section">
          <p>Your username and password didn't match. Please try again.</p>
          </div>
          {% endif  %}
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s6 left-align">
              <a href="{% url 'users:password_reset' %}" class="waves-effect waves-teal btn btn-flat">Lost password?</a>
            </div>
            <div class="col s6 right-align">
              <button name="_submit" class="btn btn-primary">log in</button>
            </div>
          </div>
        </div>
      </form>
      <div class="divider"></div>
      <div class="section center"><p class="flow-text">or<br/>log in with the following provider</p></div>
      <div class="section center">
        <p><a class="waves-effect waves-light btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}"><span class="fa fa-google"></span> Google</a></p>
        <p><a class="waves-effect waves-light btn btn-block btn-social btn-github " href="{% url 'social:begin' 'github' %}"><span class="fa fa-github"></span> GitHub</a></p>
        <p><a class="waves-effect waves-light btn btn-block grey darken-4 amber-text" href="{% url 'social:begin' 'kakao' %}">Kakao</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock content  %}
